*.bak
*.diff
*.iml
*.log
*.patch
*.pyc
*.pyo
*.swo
*.swp
*~
.*proj
.build
.cache
.DS_Store
.idea
.ipr
.iws
.project
.sass-cache
.svn
node_modules
sea-modules
coverage
Thumbs.db
tmp
out
~*
*.editorconfig
