<html>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
  <title>Vue</title>
  <body>
    <div id="app">
    <!-- 路由外链 -->
      <p>
        <!-- use v-link directive for navigation. -->
        <router-link :to="{ path: '/' }">Go to Home</router-link>
        <router-link :to="{ path: '/about/1' }">Go to about1</router-link>
        <router-link :to="{ path: '/login' }">Go to login</router-link>
      </p>
      <router-view></router-view>
    </div>
  </body>
</html>
